/* 
    Document   : extra
    Created on : 22 Mar, 2013, 10:34:55 AM
    Author     : Ajith VP <ajith@ttransforme.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.icon-back{
	width:70px;
	height:25px;
	background-image:url(../images/back.png);
	background-repeat: no-repeat;
	display: block;
}
.bar{
	padding:2px 10px;
}
.ui-listview li:last-child  {
 	border-bottom:1px solid #9FC5E7;
}

.ui-page {
-webkit-backface-visibility: hidden;
}
.template{
	display:none;
}

.sub1, .sub2{
	font-size:12px;
	color:gray;
}
.sub2 {
	text-transform:capitalize;
}
.hidden{
	display:none;
}
